/*#104378*/
/*600px,601px,768px,992px,1200px*/ 
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
header{
    width:100%;
    position:sticky;
    top:0;
    min-height:6rem;
    display:flex;
    justify-content:space-between;
    align-items: center;
    background-color: #104378;

}
h1{
    color:white;
    padding-top:0.2rem;
    padding-bottom:0.2rem;
    font-weight: bold;
    margin-left:5em;
}
nav ul  li{
    list-style:none;
    display:inline;
    margin-right:6rem;

}
nav ul li a{
    text-decoration:none;
    color:white;
    margin-right:3rem;
    margin-left:3rem;
    
}
nav ul li a:hover{
    background-color: white;
    color:#104378;
    padding:0.8rem;
    
}
#home h2{
    margin-top:1.5rem;
    color:#104378;
    text-align:center;
    font-weight: bold;
}
#homecontents{
    margin-top:1.5rem;
    display:flex;
    justify-content: space-evenly;
}
#homecontents p{
    min-height:31rem;
    width:25rem;
    background-color: #104378;
    color:white;
    line-height: 2;
    padding-top:6em;
    border-radius:2rem;
    padding-left:2rem;
    padding-right:2.5rem;
}
#homecontents figure{
    width:50rem;
    height:31.2rem; 
    border-radius:2rem;
    overflow:hidden;
 }
 #explore h2{
    width:max-content;
    text-align: center;
    margin-left:4rem;
    margin-top:2rem;
    background-color: #104378;
    color:white;
    font-weight: bold;
    border-radius:2rem;
    padding:1rem;
}
#explore p{
    margin-top:1.5rem;
    margin-left:4rem;
    color:#104378;
    line-height: 1.5;
}
#explore p span{
    color:black;
    font-weight: bold;
}
#products h2{
    width:max-content;
    text-align:center;
    margin-left:4rem;
    margin-top:1.5rem;
    background-color: #104378;
    color:white;
    font-weight: bold;
    border-radius:2rem;
    padding:1rem;
}
 #products section{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    margin-top:1.5rem;
}
#products section figure{
    border-radius:2rem;
    min-height:25rem;
    width:18.75rem;
    background-color: #104378;
}
#products section figure img{
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}
#products section figcaption{
    background-color: white;
    border-radius: 2rem;
    text-align: center;
    padding:1.2rem;
    width:max-content;
    color:#104378;
    font-weight:bold;
    margin:auto;
    margin-top:1rem;
}
#products p{
    color:#104378;
    margin-left:8.5rem;
    margin-top:1rem;
}
footer{
    background-color: #104378;
    color:white;
    margin-top:2rem;
}
#contact #contactcontents{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    margin:auto;
    margin-top:3rem;
}
#contact h2{
    text-align:center;
    font-weight:bold;
    padding-top:1.5rem;
}
#contact h3{
    font-weight:bold;
    margin-bottom:1.5rem;
}
address p a{
    color:white;
    text-decoration: none;
}
#help ul{
    list-style: none;
}
#help a{
    color:white;
    text-decoration: none;
}
#back a{
    color:white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bolder;
}
#back{
    text-align:center;
}
hr{
    margin-top:1rem;
    margin-bottom:1rem;
}
@media (min-width:200px) and (max-width:600px)
{
    body{
        position:absolute;
    }
    header{
        position:sticky;
        top:0;
        min-height:6rem;
        display:block;
        background-color: #104378;
    }
    h1{
        color:white;
        padding-top:2rem;
        padding-bottom:0.5rem;
        font-weight: bold;
        margin-left:20%;
        margin-right:20%;
    }
    nav ul  li{
        display:none;
    }
    #home h2{
        margin-top:1rem;
        color:#104378;
        text-align:center;
        font-weight: bold;
    }
    #homecontents{
        margin-top:1.5rem;
        display:block;
    }
    #homecontents p{
        min-height:20rem;
        width:25rem;
        background-color: #104378;
        color:white;
        line-height: 2;
        padding-top:3rem;
        border-radius:1rem;
        padding-left:1rem;
        padding-right:1rem;
        margin:auto;
        margin-bottom:1rem;
    }
    #homecontents figure{
        display:none;
     }
     #explore h2{
        width:max-content;
        text-align: center;
        margin:auto;
        margin-top:2rem;
        background-color: #104378;
        color:white;
        font-weight: bold;
        border-radius:2rem;
        padding:1rem;
    }
    #explore p{
        margin:auto;
        margin-top:1.5rem;
        text-align: center;
        color:#104378;
        line-height: 1.5;
       
    }
    #explore p span{
        color:black;
        font-weight: bold;
    }
    #products h2{
        width:max-content;
        text-align: center;
        margin:auto;
        margin-top:1.5rem;
        background-color: #104378;
        color:white;
        font-weight: bold;
        border-radius:2rem;
        padding:1rem;
    }
     #products section{
        display:block;
        margin-top:1.5rem;
    }
    #products section figure{
        border-radius:2rem;
        min-height:25rem;
        width:18.75rem;
        background-color: #104378;
        margin:auto;
        margin-bottom:1rem;
    }
    #products section figure img{
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }
    #products section figcaption{
        background-color: white;
        border-radius: 1rem;
        text-align: center;
        padding:0.5rem;
        width:max-content;
        color:#104378;
        font-weight:bold;
        margin:auto;
        margin-top:0.5rem;
    }
    #products p{
        color:#104378;
        margin-left:4rem;
        margin-top:1rem;
    }
    footer{
        background-color: #104378;
        color:white;
        margin-top:2rem;
    }
    #contact #contactcontents{
        display:block;
        margin:auto;
        margin-top:3rem;
        text-align:center;
    }
    #contact h2{
        text-align:center;
        font-weight:bold;
        padding-top:1.5rem;
    }
    #contact h3{
        font-weight:bold;
        margin-bottom:1.5rem;
    }
    address p a{
        color:white;
        text-decoration: none;
    }
    #help ul{
        list-style: none;
    }
    #help a{
        color:white;
        text-decoration: none;
    }
    #back a{
        color:white;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: bolder;
    }
    #back{
        text-align:center;
    }
    hr{
        margin-top:1rem;
        ;margin-bottom:1rem;
    }
    
}
@media (min-width:600px) and (max-width:992px){
    header{
        display:block;
    }
    h1{
        padding:1.8rem;
    }
    nav ul li a{
      display:none;
    }
    #homecontents figure{
        display:none;
    }
    #homecontents p{
        width:40%;
        background-color: #104378;
        color:white;
        line-height: 2;
        padding-top:1%;
        padding-bottom:1%;
        min-height: max-content;
        text-align: center;
    }
    #explore h2{
        width:max-content;
        text-align: center;
        margin:auto;
        margin-top:2rem;
        background-color: #104378;
        color:white;
        font-weight: bold;
        border-radius:2rem;
        padding:1rem;
    }
    #explore p{
        margin:auto;
        margin-top:1.5rem;
        text-align: center;
        color:#104378;
        line-height: 1.5;
        margin-bottom:1.5rem;
    }
    #products h2{
        margin-top:3rem;
        margin:auto;
    }
    #products section{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        gap:0.5rem;
    }
    #products section figure{
        margin:auto;
        background-color: #104378;
    }
    #products p{
        margin:auto;
        text-align: center;
        margin-top:2rem;
        color:#104378;
    }
    footer{
        font-size: smaller;
    }



   

    



    
}
    